 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">BS in Computer Engineering</h4>
    <h5 class="meta">RMTU Iba Main Campus Iba, Zambales</h5>
    <div class="time">present</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Computer Hardware Technology</h4>
    <h5 class="meta">F.I.R.S.T Subic Bay Freeport Zone</h5>
    <div class="time">2006-2008</div>
</div><!--//item-->
</div><!--//education-container-->
