<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                    <div class="details">
                        <p>On the Job Training MJ Computershop</p>  
                        <p>December 13, 2007- March 15, 2008</p>
                        <p>Department of Agrarian Reform Iba Zambales</p>
                        <p>April 15, 2015 – June 1, 2015</p>
                        <p>Philippine Air Force  Headquarters Air Defense Wing</p>
                        <p>Basa Air Base, Floridablanca , Pampanga</p>
                        <p>April 11, 2016 – May 20, 2016</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                        </div><!--//upper-row-->
                    </div><!--//meta-->
                    <div class="details">      
                    </div><!--//details-->
                </div><!--//item-->
                                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                                    </div><!--//upper-row-->
                                      </div><!--//meta-->
                    <div class="details">
                      </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
