<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">OJT MJ Computershop</h3>
                            <div class="time">December 13, 2007- March 15, 2008</div>
                        </div><!--//upper-row-->
                        <div class="company">Olongapo City</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Technical Support with regards to computer troubleshooting.</p>  
                        </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Department of Agrarian Reform Iba Zambales</h3>
                            <div class="time">April 15, 2015 – June 1, 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Iba Zambales</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Administrative assistance in report presentations.</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Philippine Air Force  Headquarters Air Defense Wing</h3>
                            <div class="time">April 11, 2016 – May 20, 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Basa Air Base, Floridablanca , Pampanga</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p> </p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
