<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>Date of Birth: December 17, 1989</p>
                    <p>Place of Birth: Sta. Maria, Castillejos, Zambales</p>
                    <p>Height: 5'4"</p>
                    <p>Civil Status: Single</p>
                    <p>Religion: Catholic</p>
                </div><!--//intro-->    
            </section><!--//section-->
